{% extends "kolledg/base.html" %}
{% load staticfiles %}
{% block title %}Главная{% endblock title %}
{% block scripts %}
<script src="{% static 'code/highcharts-3d.js' %}"></script>
<script src="{% static 'code/highcharts.js' %}"></script>
<script src="{% static 'code/modules/exporting.js' %}"></script>
<script src="{% static 'code/modules/export-data.js' %}"></script>
<script src="{% static 'code/modules/data.js' %}"></script>
<script src="{% static 'code/modules/drilldown.js' %}"></script>
{% endblock scripts %}
{% block body %}
<!-- Список учебных групп -->
<section>
    <div class="sect-block" id="block_1">
        <div class="row text-center justify-content-center">
            <h1>Учебные группы</h1>
        </div>
        <div class="row justify-content-center text-center">
            {% for group in groups %}
            {% if group.tek_sem <= group.max_sem %}
            <div class=" row back-image">
            <div class="col-12">
                <div class="headergroupitem">
                    <a class="" href="/group/{{group.id}}/">
                        <h3>{{group.shortname}}</h3>
                        <p>{{group.tek_sem}} семестр.</p>
                    </a>
                </div>
                <hr/>
                <!--<p>{{group.detail.naimenovanie}}</p>-->
                <div class="row">
                    <div class="col-4">
                        <img src="/static/icons/dolg.png">
                        <p>{{group.col_dolgov}} шт.</p>
                    </div>
                    <div class="col-4">
                        <img src="/static/icons/studs-icon.png">
                        <p>{{group.get_studs|length}} чел.</p>
                    </div>
                    <div class="col-4">
                        <img src="/static/icons/dolg.png">
                        <p>??? шт.</p>
                    </div>
                </div>
                <a href="/prepod_info/{{group.kurator.id}}"><img src="/static/icons/kurator.png">
                    </br>
                    {{group.kurator}}
                </a>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<hr/>
<!-- Общяя информация -->
<section class="fdb-block fp-active" data-block-type="features" data-id="4">
    <div class="sect-block" id="block_2">
        <div class="row text-center justify-content-center">
            <h1>Сводная информация по курсам</h1>
        </div>
        <div id="container" style="height: 400px; margin: 20px;"></div>
        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0.75)'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Кол-во бегунков (Всего: {{categories.cat1}} шт.)',
                     'Кол-во должников (Всего: {{categories.cat2}} чел.)',
                     'Распределение численности (Всего: {{categories.cat3}} чел.)',
                     'Топ58 (Всего: {{categories.cat4}} чел.)',
                     'Топ50 (Всего: {{categories.cat5}} чел.)',
                     'Группы (Всего: {{categories.cat6}})'],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: '1 курс',
        data: {{data.d1}}
    }, {
        name: '2 курс',
        data: {{data.d2}}
    }, {
        name: '3 курс',
        data: {{data.d3}}
    }, {
        name: '4 курс',
        data: {{data.d4}}
    }, {
        name: '5 курс',
        data: {{data.d5}}
    }, {
        name: 'архив',
        data: {{data.d6}}
    }]
});





        </script>
    </div>
    <hr/>
    <div class="sect-block" id="block_3">
        <div class="row text-center justify-content-center">
            <h1>Обзор должников по группам</h1>
        </div>
        <div id="container_column_drilldown" style="min-width: 310px; height: 400px; margin: 20px"></div>
        <script type="text/javascript">
// Create the chart
Highcharts.chart('container_column_drilldown', {
    chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0.75)'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: 'Для дополнительной информации, нажмите на колонку'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Количество долгов'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    "series": [
        {
            "name": "Browsers",
            "colorByPoint": true,
            "data": [
              {% for group in groups %}
              {% if group.tek_sem <= group.max_sem %}
              {% if group.get_ocenki_0|length > 0 %}
                {
                  "name": "{{group.shortname}}",
                  "y": {{group.get_ocenki_0|length}},
                  "drilldown": "{{group.shortname}}"
                 },
              {% endif %}
              {% endif %}
              {% endfor %}
            ]
        }
    ],
    "drilldown": {
        "series": [
              {% for group in groups %}
                {"name": "{{group.shortname}}","id": "{{group.shortname}}",
                  "data": [{% for student in studs %}
                    {% if student.id_group == group %}
                    {% if student.stud.is_dolgi|length > 0 %}
                      ["{{student.id_stud}}", {{student.stud.is_dolgi|length}}],
                    {% endif %}
                    {% endif %}
                  {% endfor %}]},
              {% endfor %}
        ]
    }
});





        </script>
        <div class="container">
        </div>
    </div>
</section>
<hr/>
<!-- Таблица с компетенциями -->
<section class="fdb-block" data-block-type="contents" data-id="2">
    <div class="sect-block" id="block_4">
        <div class="container">
            <div class="row justify-content-center text-center">
                <h1>Реализуемые компетенции</h1>
                <div class="">
                    <table border="1">
                        <tr>
                            <th>Код професии</th>
                            <th>Полное наименование профессии</th>
                            <th>ТОП-58</th>
                            <th>ТОП-50</th>
                            <th>Кол-во</br>групп</th>
                            <th>Кол-во</br>студентов</th>
                        </tr>
                        {% for kc in kompitencii %}
                        <tr>
                            <td>{{kc.kod}}</td>
                            <td style="text-align: left;">{{kc.naimenovanie}}</td>
                            <td><img width="16"
                                     src="{% if kc.top50_58 > 0 %}{% static 'icons/ok_green.png' %}{% else %}{% static 'icons/minus_red.png' %}{% endif %}"/>
                            </td>
                            <td><img width="16"
                                     src="{% if kc.top50_58 == 1 %}{% static 'icons/ok_green.png' %}{% else %}{% static 'icons/minus_red.png' %}{% endif %}"/>
                            </td>
                            <td>{{kc.groups|length}}</td>
                            <td>{{kc.studs|length}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}