<thead class="vertical-header">
<tr>
    <th rowspan="4">Индекс</th>
    <th rowspan="4">Полное наименование дисциплины</th>
    <th rowspan="2" colspan="10">Форма аттестации</th>
    <th colspan="5">Учебная нагрузка обучающихся (час.)</th>
    <th rowspan="4" class="vert-align">Курс. под. (час.)</th>
    <th colspan="10">Распределение обязательной нагрузки по курсам и сем.ам (час.)</th>
</tr>
<tr>
    <th rowspan="3" class="vert-align">Макс. наг.</th>
    <th rowspan="3" class="vert-align">Сам. наг.</th>
    <th colspan="3">Обязательная нагрузка</th>
    <th colspan="2">1 курс</th>
    <th colspan="2">2 курс</th>
    <th colspan="2">3 курс</th>
    <th colspan="2">4 курс</th>
    <th colspan="2">5 курс</th>
</tr>
<tr>
    <th colspan="2">1 курс</th>
    <th colspan="2">2 курс</th>
    <th colspan="2">3 курс</th>
    <th colspan="2">4 курс</th>
    <th colspan="2">5 курс</th>
    <th rowspan="2" class="vert-align">Всего занятий</th>
    <th colspan="2">в том числе</th>
    <th>1 сем.</th>
    <th>2 сем.</th>
    <th>3 сем.</th>
    <th>4 сем.</th>
    <th>5 сем.</th>
    <th>6 сем.</th>
    <th>7 сем.</th>
    <th>8 сем.</th>
    <th>9 сем.</th>
    <th>10 сем.</th>
</tr>
<tr>
    <th>1 сем.</th>
    <th>2 сем.</th>
    <th>3 сем.</th>
    <th>4 сем.</th>
    <th>5 сем.</th>
    <th>6 сем.</th>
    <th>7 сем.</th>
    <th>8 сем.</th>
    <th>9 сем.</th>
    <th>10 сем.</th>
    <th class="vert-align">Лекций, уроков</th>
    <th class="vert-align">Лаб. и прак. занятий</th>
    <th>17 нед.</th>
    <th>22 нед.</th>
    <th>17 нед.</th>
    <th>22 нед.</th>
    <th>17 нед.</th>
    <th>22 нед.</th>
    <th>17 нед.</th>
    <th>22 нед.</th>
    <th>17 нед.</th>
    <th>22 нед.</th>
</tr>
</thead>