{% extends "kolledg/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block title %}Авторизация{% endblock title %}
{% block body %}
<section xmlns="http://www.w3.org/1999/html">
    <div class="row text-center justify-content-center">
        <a class="shadow row back-image" href="/">
                <div class="col-12">
                    <h3>Операция выполнена успешно.</br>Нажмите для перехода на главную страницу.</h3>
                </div>
            </a>
    </div>
</section>
{% endblock body %}