{% extends "kolledg/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block title%}Приказы{% endblock title%}
{% block styles %}
<link href="{% static 'css/knopka.css' %}" rel="stylesheet">
<link href="{% static 'css/modal.css' %}" rel="stylesheet">
<style>
html {
    overflow-y: hidden;
}
#trest {
    height: 520px;
}
#trest-body {
    height: 100%;
    overflow-y: auto;
}
nav#navigation {
    margin: auto;
    display: inline-block;
    z-index: 1;
}
nav#navigation ul {
  list-style: none;
  padding: 0px;
}
nav#navigation ul li {
    float: left;
    text-align: center;
    width: 250px;
    height: 60px;
}

nav#navigation ul li.active {
  background: var(--background-header);
}
nav#navigation ul li.dropdown:hover ul[class*="dropdown-"] {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 150ms ease all;
  -moz-transition: 150ms ease all;
  transition: 150ms ease all;
}
nav#navigation ul li a {
  display: block;
  width: 100%;
  line-height: 60px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  -webkit-transition: 150ms ease all;
  -moz-transition: 150ms ease all;
  transition: 150ms ease all;
}
nav#navigation ul li a:hover {
    color: var(--text-header);
}
nav#navigation ul li a i,
nav#navigation ul li a p {
  display: inline-block;
}
nav#navigation ul li a i {
  position: absolute;
  font-size: 1.3em;
}
nav#navigation ul li ul[class*='dropdown-'] {
    position: absolute;
    display: block;
    margin: 0px 0px 0px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 150ms ease all;
    -moz-transition: 150ms ease all;
    transition: 150ms ease all;
}
nav#navigation ul li ul[class*="dropdown-"] li {
    width: 238px;
    height: 60px;
}

#wrapper {
  margin: 0 0 0 225px;
  padding: 15px;
  color: #126CA1;
}

</style>
{% endblock styles %}

{% block scripts %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock scripts %}

{% block body %}
{% if user.is_authenticated %}
<!-- Contenedor -->
<div>
<nav id="navigation">
  <ul>
    <!--<li class="shadow-min back-image">-->
        <!--<a href="#">-->
            <!--<p>Dashboard</p>-->
        <!--</a>-->
    <!--</li>-->
    <li class="dropdown shadow-min back-image" rel="1">
        <a href="#">
            <p>Движение контингента</p>
        </a>
            <ul class="dropdown-1">
                <li class="shadow-min back-image" onclick="ReadFile('/prikaz/zachislenie', 'trest');"><a><p>Зачисление</p></a></li>
                <li class="shadow-min back-image" onclick="ReadFile('/prikaz/perevod', 'trest');"><a><p>Перевод</p></a></li>
                <li class="shadow-min back-image" onclick="ReadFile('/prikaz/otchislenie', 'trest');"><a><p>Отчисление</p></a></li>
            </ul>
    </li>
    <li class="shadow-min back-image" rel="2"><a href="/prikaz_povtornaya/"><p>Повторная аттестация</p></a></li>
    <!--<li class="shadow-min back-image" rel="1">-->
        <!--<a href="/admin/">-->
            <!--<p>Админка</p>-->
        <!--</a>-->
    <!--</li>-->
  </ul>
</nav>
</div>
<div id="trest"></div>
{% else %}
<h1>Ошибка доступа!</h1>
{% endif %}
{% endblock body %}